html {
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
    ;
    font-size: 16px;
}

:root {
    --container-width-lg: 76%;
    --container-width-ms: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}



h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: white;
}



body {
    background-image: url('backgroundincercarefinala.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;


}

/* Bara de navigare */
.main {
    top: 5px;
    z-index: 11;
    width: 90%;
    height: 5rem;
    margin: 0 auto;
}


.navbar button {
    display: none;
}

.main ul {
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;

}

.main ul li {
    float: none;
    display: inline-block;
}

.main ul li:nth-child(1) {
    float: left;
}

.main ul li:nth-child(2) {
    float: left;
}

.main ul li:nth-child(3) {
    float: left;
}

.main ul li a {
    color: whitesmoke;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 23px;
}

.main ul li a:hover {
    transition: 1s;
    background-color: white;
    border-radius: 10px;
    color: black;
}

#navbar {
    width: 100%;
    position: absolute;
}

.logo {
    border: 2px solid white;
    padding: 4px;
    position: absolute;
    top: 0%;
    width: 50px;
    height: 50px;
    transform: translate(0, 0);
    content: '';
    transition: 1s;
    border-radius: 50px;
    margin: auto;
    margin-left: 48%;
}



.logo img {
    text-align: center;
    align-self: center;
}

.logo:hover {
    transform: scale(-1.01);
    transition: 1s;
}

/* Media Digitală! */

.licenta {
    background-color: white;
    margin-top: 5rem;
    position: absolute;
    padding-right: 80%;
    padding-left: 5%;
}

/*====================Detalii despre cursurile noastre ======================*/
.detalii {
    padding-top: 11%;
    padding-left: 6%;
    padding-right: 10%;
    padding-bottom: 4rem;
    text-align: justify;
    font-size: 15px;
    color: #000000;
    line-height: 20px;
}

p.informatii {
    background: rgba(255, 255, 255, 0.728);
    border-radius: 2rem;
    padding: 2rem;
}

/*====================Detalii despre cursurile noastre ======================*/
.activitati {
    margin-top: 5rem;
    margin-left: 2rem;
}

.primele-activitati {
    display: flex;
    flex-direction: row;
}

.activitate1 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 6rem;
    max-width: 26rem;
    align-items: center;

}

.activitate2 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 19rem;
    max-width: 36rem;
    align-items: center;
}

.ultimele-activitati {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.activitate3 {
    display: flex;
    flex-direction: row;
    padding-left: 6rem;
    max-width: 26rem;
    align-items: center;
}

.activitate4 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 19rem;
    max-width: 36rem;
    align-items: center;
}

.iconita {
    border: 2px solid white;
    padding: 7px;
    width: 80px;
    height: 80px;
    transform: translate(0, 0);
    content: '';
    transition: 1s;
    border-radius: 50%;
    margin: 2px;
    margin-left: 48%;

}

.iconita img {
    text-align: center;
    align-self: center;
}

.iconita:hover {
    transform: scale(-1.20);
    transition: 1s;
}

.titlu1 {
    padding-left: 2rem;
}

/*====================SUBSOL ======================*/
.container-subsol {
    max-width: 1170px;
    margin: auto;
}

.container-subsol::after {
    content: '© 2023, Facultatea de Sociologie și Comunicare';
    position: absolute;
    left: 0;
    height: 2px;
    box-sizing: border-box;
    padding-left: 37%;
    color: white;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.footer {
    background-color: #080d1b9e;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}