html {
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
    ;
    font-size: 16px;
}

:root {
    --container-width-lg: 76%;
    --container-width-ms: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
    --transition-collapse: height .35s ease;
    --transition-collapse-width: width .35s ease;
}



h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: white;
}



body {
    background-image: url('backgroundincercarefinala.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;


}

/* Bara de navigare */

.main {
    top: 5px;
    z-index: 11;
    width: 90%;
    height: 5rem;
    margin: 0 auto;
}


.navbar button {
    display: none;
}

.main ul {
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;

}

.main ul li {
    float: none;
    display: inline-block;
}

.main ul li:nth-child(1) {
    float: left;
}

.main ul li:nth-child(2) {
    float: left;
}

.main ul li:nth-child(3) {
    float: left;
}

.main ul li a {
    color: whitesmoke;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 23px;
}

.main ul li a:hover {
    transition: 1s;
    background-color: white;
    border-radius: 10px;
    color: black;
}

#navbar {
    width: 100%;
}

.logo {
    border: 2px solid white;
    padding: 4px;
    position: absolute;
    top: 0%;
    width: 50px;
    height: 50px;
    transform: translate(0, 0);
    content: '';
    transition: 1s;
    border-radius: 50px;
    margin: auto;
    margin-left: 48%;
}



.logo img {
    text-align: center;
    align-self: center;
}

.logo:hover {
    transform: scale(-1.01);
    transition: 1s;
}

/* Media Digitală! */

.licenta {
    background-color: white;
    margin-top: 1rem;
    position: absolute;
    padding-right: 80%;
    padding-left: 5%;
}

/*====================Conducere=================*/
.conducere {
    margin-top: 10rem;
    margin-bottom: 50rem;

}

.categorii-stanga {
    width: 50%;
    float: left;

}

.decanul {
    opacity: 0.5;
    transition: 0.5s;
}

.decanul:hover {
    opacity: 100%;
    transform: translateY(-20px);
}

.prodecanul {
    opacity: 0.5;
    transition: 0.5s;
}

.prodecanul:hover {
    opacity: 100%;
    transform: translateY(-20px);
}

.pro-decanul {
    opacity: 0.5;
    transition: 0.5s;
}

.pro-decanul:hover {
    opacity: 100%;
    transform: translateY(-20px);
}

.decanul {
    border-radius: 50%;
    border: 2px solid white;
    padding: 4px;
    content: '';
    width: 100px;
    height: 100px;
    margin-left: 19rem;
}

.functie {
    margin-left: 18rem;
}

.functie-1 {
    margin-left: -3rem;
}

.prodecanuldecanul2-facultatii {
    margin-left: -3rem;
}

.prodecanul2-facultatii {
    margin-left: -3rem;
}

.prodecanul1-facultatii {
    margin-left: 1rem;
}

.pro-decanul1-facultatii {
    margin-left: 1rem;
}

.decanul-facultatii1 {
    margin-left: 21rem;
    align-items: center;
    align-content: center;
}

.decanul-facultatii2 {
    margin-left: 15rem;
    align-items: center;
    align-content: center;
}

.prodecanii {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-top: 3rem;
    margin-left: 8rem;
}

.prodecanul {
    border-radius: 50%;
    border: 2px solid white;
    padding: 4px;
    content: '';
    width: 100px;
    height: 100px;

}

.pro-decanul {
    border-radius: 50%;
    border: 2px solid white;
    padding: 4px;
    content: '';
    width: 100px;
    height: 100px;
}

.categorii-dreapta {
    width: 33.33%;
    float: right;
    margin-right: 9rem;
    margin-top: -3rem;
}

.informatii-specializare {
    background: rgba(255, 255, 255, 0.728);
    box-shadow: 0 15px 20px rgba(255, 255, 255, 0.2);
    padding: 40px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 15px;
}

/*===================MISIUNE & OBIECTIVE ===========*/
.Inner_Box {
    max-width: 70%;
    position: relative;
    display: block;
    left: 40%;
    transform: translate(-50%, 50%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 20px rgba(255, 255, 255, 0.2);
    padding: 20px;
    text-align: justify;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 10rem;
    margin-top: -3rem;
}


.Inner_Box p {
    margin: 10px;
    font-size: 12px;
    align-content: start;
}

.Inner_Box h1 {
    font-size: 18px;
    opacity: 1;
}


/*===================ABILITATI DOBANDITE ===========*/
.abilitati {
    padding-left: 4rem;
    margin-bottom: 10rem;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.498);
    content: '';
    border-radius: 50px;
    width: 350px;
    height: 90px;
    margin-left: 2rem;

}


.sectiunile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-right: -50rem;
    padding-left: 7rem;
    padding-bottom: 5rem;
}

#decoration li {
    list-style-type: disc;
    margin-bottom: 1rem;
}

/*===================OPORTUNITATI CARIERA ===========*/
.oportunitati {
    margin-top: 30rem;
    padding-left: 4rem;
    margin-bottom: 10rem;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.498);
    content: '';
    border-radius: 50px;
    width: 350px;
    height: 90px;
    margin-left: 2rem;
}

.oportunitati h2 {
    margin-bottom: 4rem;
}

.wrapper {
    width: 75rem;
    padding-top: 50px;
    justify-content: center;
}

.collapsible-oportunitati {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    overflow: hidden;
    font-weight: 500;
}

.collapsible-oportunitati input {
    display: none;
}

.collapsible-oportunitati label {
    position: relative;
    font-weight: 600;
    background: #ffffff00;
    /* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08); */
    border: 2px solid white;
    color: #000000;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.collapsible-oportunitati label::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url('arrow-down.png') no-repeat 0 0;
    transition: all 0.3s ease;
}

.collapsible-oportunitati input:checked+label::after {
    transform: rotate(180deg);
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text1 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text2 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text3 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text4 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text5 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text6 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text7 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible-text8 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}



.collapsible-oportunitati input:checked~.collapsible-text {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;
}

.collapsible-oportunitati input:checked~.collapsible-text1 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-oportunitati input:checked~.collapsible-text2 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-oportunitati input:checked~.collapsible-text3 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-oportunitati input:checked~.collapsible-text4 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-oportunitati input:checked~.collapsible-text5 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-oportunitati input:checked~.collapsible-text6 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-oportunitati input:checked~.collapsible-text7 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-oportunitati input:checked~.collapsible-text8 {
    max-height: 300px;
    padding-bottom: 25px;
    background: #ffffff29;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px;
}



.collapsible-text1 p {
    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text2 p {
    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text3 p {
    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text4 p {
    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text5 p {
    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text6 p {
    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text7 p {
    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text8 p {
    padding-left: 15px;
    padding-right: 15px;
}

/*====================SUBSOL ======================*/
.container-subsol {
    max-width: 1170px;
    margin: auto;
    margin-top: 1rem;
}

.container-subsol::after {
    content: '© 2023, Facultatea de Sociologie și Comunicare';
    position: absolute;
    left: 0;
    height: 2px;
    box-sizing: border-box;
    padding-left: 37%;
    color: white;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.footer {
    background-color: #080d1b9e;
    padding: 70px 0;
    margin-top: 30em;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}